@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Q - Less <i class="fa fa-train"></i> </h1>
    <p class="lead">
        (Quick Line and Efficient Service System)
        which aims to lessen the time and cost that a commuter will spend in using the public MRT transport
        system.
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("New", "Transaction")">
            <div class="alert alert-info">
                <h3>Use your Q-Less Card now Click Here &nbsp; <span class="fa fa-arrow-right"></span></h3>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="@Url.Action("New", "TransportCards")"> 
            <div class="alert alert-success">
                <h3>Purchase New Q-Less Card Click Here &nbsp; <span class="fa fa-credit-card"></span></h3>
            </div>
        </a>
    </div>
    
    <div class="col-md-3">
        <a href="@Url.Action("Load", "TransportCards")">
            <div class="alert alert-warning">
                <h3>Load Now your Q-Less Card Click Here &nbsp; <span class="fa fa-plus"></span></h3>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="@Url.Action("ApplyForDiscounted", "TransportCards")">
            <div class="alert alert-danger">
                <h3>Apply for Q-Less Discounted Click Here &nbsp; <span class="fa fa-percent"></span></h3>
            </div>
        </a>
    </div>
</div>